@*
*@

@{

}

<div class="news-container">
    <div class="news-title">
        <h1 class="title">Тестовая запись названия</h1>
    </div>
    <div class="news-info">
        <div class="news-image">
            <img class="image" src="\images\site\photo_2026-03-08_04-42-36.jpg">
        </div>
        <div class="news-description">
            <p>Тестовая запись описания</p>
        </div>
    </div>
    <div class="news-date">
        <p>25.02.2026</p>
    </div>
</div>
